In [1]:
import pandas as pd
import os

Top 3 stores having highest revenue in the month

In [8]:
files = []
for day in range(1, 31):
    file_path = f"sales_2024-09-{str(day).zfill(2)}.csv"
    if os.path.exists(file_path):
        files.append(pd.read_csv(file_path))
    else:
        print(f"Missing: {file_path}")

In [9]:
data = pd.concat(files, ignore_index=True)
print(data.head())

  store_id store_name product_category        date  unit_sales  dollar_sales  \
0    LA002    Store_2        Household  2024-09-01        16.0         96.28
1    LA001    Store_1        Beverages  2024-09-01        14.0         86.63
2    LA008    Store_8          Produce  2024-09-01         4.0         79.99
3    LA010   Store_10        Beverages  2024-09-01        22.0        140.45
4    LA006    Store_6           Snacks  2024-09-01        17.0         50.03

  store_zip  promotion_flag
0     90004            True
1     90004            True
2     90001           False
3     90005            True
4     90003           False

In [10]:
data["month"] = data["date"].astype(str).str[:7]
data[["date", "month"]].head()

         date    month
0  2024-09-01  2024-09
1  2024-09-01  2024-09
2  2024-09-01  2024-09
3  2024-09-01  2024-09
4  2024-09-01  2024-09

In [11]:
top_stores = data.groupby(['month','store_id', 'store_name'])['dollar_sales'].sum().nlargest(3)
print(top_stores)

month    store_id  store_name
2024-09  LA010     Store_10      26671.40
         LA006     Store_6       23636.70
         LA009     Store_9       22413.21
Name: dollar_sales, dtype: float64