Load Json

In [2]:
import pandas as pd

sales_df = pd.read_json("LA_Retail_Sales.json", lines=True)
sales_df.head()

,store_id,store_name,product_category,date,unit_sales,dollar_sales,store_zip,promotion_flag
0,LA002,Store_2,Household,2024-09-01,16.0,96.28,90004,True
1,LA001,Store_1,Beverages,2024-09-01,14.0,86.63,90004,True
2,LA004,Store_4,Produce,2024-09-15,18.0,298.26,90003,True
3,LA003,Store_3,Household,2024-09-07,7.0,25.69,90001,True
4,LA008,Store_8,Beverages,2024-09-18,25.0,85.46,90005,False

Top 3 stores by revenue per month

In [3]:
sales_df["month"] = sales_df["date"].astype(str).str[:7]

monthly_store_rev = (
    sales_df.groupby(["month", "store_id", "store_name"], as_index=False)["dollar_sales"]
            .sum()
            .rename(columns={"dollar_sales": "total_revenue"})
)

top3_per_month = (
    monthly_store_rev.sort_values(["month", "total_revenue"], ascending=[True, False])
                     .groupby("month", as_index=False)
                     .head(3)
                     .reset_index(drop=True)
)

top3_per_month

     month store_id store_name  total_revenue
0  2024-09    LA010   Store_10       26671.40
1  2024-09    LA006    Store_6       23636.70
2  2024-09    LA009    Store_9       22413.21

Read Parquet

In [6]:
pip install fastparquet

Requirement already satisfied: fastparquet in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2025.12.0)
Requirement already satisfied: pandas>=1.5.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from fastparquet) (3.0.0)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from fastparquet) (2.4.1)
Requirement already satisfied: cramjam>=2.3 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from fastparquet) (2.11.0)
Requirement already satisfied: fsspec in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from fastparquet) (2026.1.0)
Requirement already satisfied: packaging in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from fastparquet) (25.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas>=1.5.0->fastparquet) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.17.0)

[notice] A new release of pip available: 22.3.1 -> 26.0
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [7]:

import pandas as pd

sales_df = pd.read_parquet("LA_Retail_Sales.parquet", engine="fastparquet")
sales_df.head()

,store_id,store_name,product_category,date,unit_sales,dollar_sales,store_zip,promotion_flag
0,LA002,Store_2,Household,2024-09-01,16.0,96.28,90004,True
1,LA001,Store_1,Beverages,2024-09-01,14.0,86.63,90004,True
2,LA004,Store_4,Produce,2024-09-15,18.0,298.26,90003,True
3,LA003,Store_3,Household,2024-09-07,7.0,25.69,90001,True
4,LA008,Store_8,Beverages,2024-09-18,25.0,85.46,90005,False

Monthly top 3 after loading Parquet

In [4]:
sales_df["month"] = sales_df["date"].astype(str).str[:7]

monthly_store_rev = (
    sales_df.groupby(["month", "store_id", "store_name"], as_index=False)["dollar_sales"]
            .sum()
            .rename(columns={"dollar_sales": "total_revenue"})
)

top3_per_month = (
    monthly_store_rev.sort_values(["month", "total_revenue"], ascending=[True, False])
                     .groupby("month", as_index=False)
                     .head(3)
                     .reset_index(drop=True)
)

top3_per_month

     month store_id store_name  total_revenue
0  2024-09    LA010   Store_10       26671.40
1  2024-09    LA006    Store_6       23636.70
2  2024-09    LA009    Store_9       22413.21