In [9]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
spark = SparkSession.builder.appName('test').getOrCreate()

In [10]:
df= spark.read.text("samplefile.txt")
df.show(5, truncate= False)

+------------------------------+
|value                         |
+------------------------------+
|Welcome to Spark              |
|welcome to spark              |
|Welcome to AWS                |
|Learning SQL and Python is Fun|
|Learning Spark is Fun         |
+------------------------------+

In [11]:
from pyspark.sql.functions import split,explode,col

In [14]:
word_count_df = (
    df
    .withColumn("word", explode(split(col("value"), " ")))
    .groupBy("word")
    .count()
    .orderBy(col("count").desc())
)

In [15]:
word_count_df.show()

+--------+-----+
|    word|count|
+--------+-----+
|      to|    3|
|      is|    2|
|     Fun|    2|
|Learning|    2|
|   Spark|    2|
| Welcome|    2|
| welcome|    1|
|     AWS|    1|
|   spark|    1|
|     and|    1|
|     SQL|    1|
|  Python|    1|
+--------+-----+